<legend>
  <h1>Sign in</h1>
  <div class="container">
    <form
      [formGroup]="loginForm"
      
      class="was-validated needs-validation"
      (ngSubmit)="loginForm.valid && onSubmission(loginForm)"
      novalidate
    >
        <div class="form-floating mb-2">
          <input
            type="text"
            class="form-control"
            formControlName="useremail"
            placeholder="Enter Username"
            aria-label="Username"
            id="log_uname"
            required
            [ngClass]="{
                'is-invalid':
                  loginForm.errors && (useremail.touched || useremail.dirty),
                'is-valid': useremail.valid
              }"
          />
          <label for="log_uname">User Email</label>
          <div class="valid-feedback">Cool!</div>
          <div class="invalid-feedback">Username is Required</div>
        </div>

        <div class="form-floating mb-2">
          <input
            type="password"
            class="form-control"
            placeholder="$ value"
            aria-label="Username"
            formControlName="password"
            aria-describedby="footer-form"
            id="log_pass"
            name="pass"
            required
          />
          <label>Password</label>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Password is Must!</div>
        </div>
        <div>
          <h6>
            New Here? Get an Account
            <a
              href="#signUpModel"
              data-bs-toggle="modal"
              data-bs-target="#signUpModel"
              data-bs-dismiss="modal"
              >Here</a
            >
          </h6>
        </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
          Login
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </form>
  </div>
</legend>
