<p>travel-products works!</p>
<h1 class="grid-nogutter">Clothing Products</h1>
<div class="flex align-items-center justify-content-start">
  
    <a
    class="w-8rem h-4rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mr-3"
    routerLink="kid"
    >Kids </a
  >
  <a
    class="w-8rem h-4rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mr-3"
    routerLink="men"
    >Mens </a
  >
  <a
    class="w-8rem h-4rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mr-3"
    routerLink="women"
    >Women </a
  >
</div>
<router-outlet></router-outlet>