<table border="5px">
    <tr>
      <th>Place</th>
      <th>Book Ticket</th>  
    </tr>
    <tr *ngFor ="let place of placeListParent">
        <td>{{place.name}}</td>
        <td><button type="button" (click)="op.toggle($event); getSelectPlace(place.id)" >Book</button></td>
    </tr>
</table>

<div class="card flex justify-content-center">
  <p-overlayPanel #op>
     <div>
      PlaceName : {{placeName}}
      placeId : {{placeId}}
      Ticket Available<input type="number" name="" [value]="ticketCount" id=""><button (click)="increaseTicket(placeId)" >BuyTicket</button><button (click)="decreaseTicket(placeId)">Sell Ticket</button>
     </div>
  </p-overlayPanel>
</div>