<div class="grid">
  
    <div class="col-6 col-offset-3">
      <div class="text-center p-3 border-round-sm bg-primary font-bold">
        
        <div class="card flex justify-content-center h-rem2">
          <p-card header="Destinations are Awaiting" subheader="Shall We go?">
            <ng-template pTemplate="header">
              <img alt="Card"  src="assets/img/travel.jpg" height="300px" />
            </ng-template>
            <p>
              THERE IS A WORLD ELSEWHERE.... ->SHAKESPEARE
            </p>
          </p-card>
        </div>
      </div>
    </div>
  </div>
  
  <div class="grid">
    <div class="col-4">
      <div class="text-center p-3 border-round-sm bg-primary font-bold">
        <div class="card flex justify-content-center h-rem2">
          <p-card header="Go where your foot takes You!" subheader="Ready?">
            <ng-template pTemplate="header">
              <img alt="Card"  src="assets/img/travel2.jpg" height="300px" />
            </ng-template>
            <p>
              BETTER TO SEE SOMETHING ONCE THAN HEAR ABOUT IT A THOUSAND TIMES. -> ASIAN PROVERB
            </p>
          </p-card>
        </div>
  
      </div>
    </div>
    <div class="col-4 col-offset-4">
      <div class="text-center p-3 border-round-sm bg-primary font-bold">
        <div class="card flex justify-content-center h-rem2">
          <p-card header="Expect The UnExpected" subheader="Dive in">
            <ng-template pTemplate="header">
              <img alt="Card"  src="assets/img/travel3'.jpg" height="300px" />
            </ng-template>
            <p>
              TRAVEL IS NEVER A MATTER OF MONEY, BUT OF COURAGE. -> PAULO COELHO
            </p>
          </p-card>
        </div>
      </div>
    </div>
  </div>
  <div class="surface-500 font-bold border-round m-2 flex align-items-center justify-content-center" style="min-width: 200px; min-height: 100px">
    {{browserName |titlecase}}
    {{browserVersion}}
</div>

